<div class="ROCOForum">
	<% if (!OLSK_SPEC_UI()) { -%>
		<script src="https://cafe.rosano.ca/javascripts/embed-topics.js"></script>
	<% } -%>
	
	<d-topics-list class="ROCOForumList" discourse-url="https://cafe.rosano.ca" category="<%= ROCOForumTopic %>" per-page="10"></d-topics-list>

	<p>
		<a class="ROCOForumButton OLSKDecorPress OLSKDecorPressCall" href="https://cafe.rosano.ca/c/<%= ROCOForumTopic %>"><%= OLSKLocalized('ROCOForumButtonText') %></a>
	</p>
</div>
